
.f-input {
    width: 17%;
    padding: 2px;
    font-size: small;
    border-radius: 3px;
    border: none;
    background-color: rgb(227, 229, 232);
}

.n-input {
    width: 17%;
    padding: 2px;
    font-size: small;
    border-radius: 3px;
    border: none;
    background-color: rgb(227, 229, 232);
}

.btn {
    background-color: rgb(9, 171, 247);
    color: white;
    border: none;
    padding: 12px 90px;
    font-size: 15px;
    font-weight: 800;
    border-radius: 7px;
}

.f-span {
    margin-right: 5px;
    margin-left: 3px;
}

.image {
    background-color: white;
    box-shadow: aliceblue;
    width: 350px;
    border: 1px solid rgb(224, 227, 230);
    border-radius: 10px;
    padding: 35px 0px 35px 0px;
    text-align: center;
}

.img{
    height: 180px;
    margin-left: 20px;
    margin-right: 20px;
}

.shape-container {
    display: flex;
    gap: 20px;
    margin-top: 35px;
}

.top-div {
    display: flex;
    gap: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 70px 8px 70px;
    border: 2px solid gainsboro;
    height: 90px;
    background-color:lightblue;
}

.h1 {
    font-size: 40px;
    font-weight: bolder;
    color: #4e4141;

}

.span {
    font-size: 27px;
    font-weight: 600;
    color: slategray;
    margin-top: 0px;

}

.btn2 {
    background-color: rgb(9, 171, 247);
    color: white;
    border: none;
    padding: 9px 35px;
    font-size: 15px;
    font-weight: 800;
    border-radius: 7px;
}
.area{
   
    border: 1px solid rgb(224, 227, 230);
    text-align: center;
    height: 410px;
    width: 350px;
    margin-top: 2px;
    border-radius: 10px;
}
.body{
    padding: 10px 15px 10px 15px;
}

